template_report/introduction.pdf
template_report/introduction.tex
template_report/template_report_isardSAT_v1.zip
template_report/library_template.bib
template_report/template_report_isardSAT_v1.pdf
template_report/template_report_isardSAT_v1.tex
template_report/template_report_isardSAT_v1_simple.pdf
template_report/template_report_isardSAT_v1_simple.tex
template_report/template_report_isardSAT_v1_simple_simple.pdf
template_report/template_report_isardSAT_v1_simple_simple.tex
template_poster/
template_report/template_report_isardSAT_v2.zip
isardSAT_CRISTAL_Diagrams_.pptx
comments_ester.txt
template_report/latex_template_report_isardsat.zip
fig_v1/
1 -isardSAT_template.pptx
20230707_isardSAT_template.pptx
comment_ester_template_presentation.txt
isardSAT_presentation_template.pdf
isardSAT_presentation_template.tex
isardSAT_presentation_template_official.pdf
isardSAT_presentation_template_official.tex
isardSAT_presentation_template_official_v1.pdf
isardSAT_presentation_template_official_v1.tex
isardSAT_presentation_template_official_v2.pdf
isardSAT_presentation_template_official_v2.tex
isardSAT_presentation_template_official_v2_distribute.tex
isardSAT_presentation_template_official_v3.pdf
isardSAT_presentation_template_official_v3.tex
isardSAT_presentation_template_official_v3.zip
isardSAT_presentation_template_official_v4_distribute.pdf
isardSAT_presentation_template_official_v4_distribute.tex

